.me{
    width: 230px;
    height: 230px;
    object-fit: cover;
}
.title{
    font-family: 'Raleway', sans-serif;
}
.subtitle{
    letter-spacing: 10px;
}
#hero{
    height: 95vh;
}
.text-about{
    text-indent: 50px;
    text-align: justify;
}
.text-center{
    font-family: 'Fredoka One', cursive;
}
.card-text{
    letter-spacing: 3px;
    text-align: center;
}
.card-title{
    text-align: center;
}
.card-img-top{
    height: 250px;
    object-fit: cover;
    }
.card-img-top-1{
    height: 200px;
    object-fit: cover;
}
.ig{
    letter-spacing: 3px;
}