.tugas{
    color:rgb(6, 93, 128);
    background-color: #FFE3B0;
    margin-bottom: 30px;
    border: 1px solid #FFB677;
    padding: 10px;
}
.data{
    color:rgb(0, 43, 59);
    margin-bottom: 30px;
    border: 1px solid #FFB677;
    background-color: #FFE3B0;
    padding: 5px;
}
.hobi{
    color:rgb(0, 43, 59);
    margin-bottom: 30px;
    border: 1px solid #FFB677;
    background-color: #FFE3B0;
    padding: 5px;
}
.kemampuan{
    color:rgb(0, 43, 59);
    margin-bottom: 30px;
    border: 1px solid #FFB677;
    background-color: #FFE3B0;
    padding: 5px;
}
.pengalaman{
    color:rgb(0, 43, 59);
    margin-bottom: 30px;
    border: 1px solid #FFB677;
    background-color: #FFE3B0;
    padding: 5px;
}
.karakter{
    color:rgb(0, 43, 59);
    margin-bottom: 30px;
    border: 1px solid #FFB677;
    background-color: #FFE3B0;
    padding: 5px;
}
.foto{
    margin: 10px;
    border: 3px solid #000000
    }