.judul {
    color:rgb(6, 93, 128);
    background-color: #FFE3B0;
    margin-bottom: 30px;
    border: 1px solid #FFB677;
    padding: 10px;
}
.contact {
    color:rgb(6, 93, 128);
    background-color: #FFE3B0;
    margin-bottom: 30px;
    border: 1px solid #FFB677;
    padding: 10px;
}
.gambar {
    margin: 10px;
    border: 3px solid #000000
    }
.tentang{
    color:rgb(0, 43, 59);
    margin-bottom: 30px;
    border: 1px solid #FFB677;
    background-color: #FFE3B0;
    padding: 5px;
}
.keahlian{
    color:rgb(0, 43, 59);
    margin-bottom: 30px;
    border: 1px solid #FFB677;
    background-color: #FFE3B0;
    padding: 5px;
}
.pendidikan{
    color:rgb(0, 43, 59);
    margin-bottom: 30px;
    border: 1px solid #FFB677;
    background-color: #FFE3B0;
    padding: 5px;
}
.kontak{
    color:rgb(0, 43, 59);
    margin-bottom: 30px;
    border: 1px solid #FFB677;
    background-color: #FFE3B0;
    padding: 5px;
}
/* Default (Smartphone) */
.judul > h1{
    width: 100%;
}
/* Default (Tablet) */
@media (min-width: 760px;){
    .judul > h1{
        width: 80%;
    }
}
/* Default (PC) */
@media (min-width: 992px;){
    .judul > h1{
        width: 60%;
    }
}